<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.ssm.dao.CustomerMapper">
	<select id="findCustomerList" resultType="cn.itcast.ssm.pojo.Customer">
		select *
		from customer where true
		<!-- <if test="a != null"> AND cust_name = #{a} </if> <if test="b != null"> 
			AND cust_source like #{b} </if> <if test="c != null"> AND cust_industry like 
			#{c} </if> <if test="d != null"> AND cust_level like #{d} </if> -->
	</select>
	<select id="test" resultType="cn.itcast.ssm.pojo.Customer"
		parameterType="String">
		select *
		from customer where true
		<if test="a != '' and a!=null">
			AND cust_name = #{a}
		</if>
		<if test="b != '' and b!=null">
			AND cust_source = #{b}
		</if>
		<if test="c != '' and c != null">
			AND cust_industry = #{c}
		</if>
		<if test="d != '' and d!=null ">
			AND cust_level = #{d}
		</if>
	</select>
	<delete id="deleteClient">
		delete from customer where cust_id = #{id}
	</delete>
	<update id="updateClient" parameterType="String">
		update customer set
		cust_name = #{name},
		cust_source = #{source},
		cust_industry = #{industry},
		cust_level = #{level},
		cust_linkman = #{linkman},
		cust_phone = #{phone},
		cust_mobile = #{mobile},
		cust_zipcode = #{zipcode},
		cust_address = #{address} 
		where cust_id = #{id}
	</update>
</mapper>
